<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.openMarket.common.mapper.CommonMapper">

    <select id="getAcmInfo" resultType="accommDto">
        EXEC PLNDSTAY.dbo.spOMK_ACCOMM_INFO ${intAID}, ${intOmkIdx}
    </select>

    <select id="getRoomList" resultType="roomTypeDto">
        EXEC PLNDSTAY.dbo.spOMK_ROOMTYPE_LIST ${intAID}, ${intOmkIdx}
    </select>

    <select id="getPhotoList" resultType="string">
        SELECT CONCAT('https://condo24.com', strFilePath, strFileName) AS strPhotoUrl FROM PLNDSTAY.dbo.ACCOMM_PHOTO c WITH(NOLOCK)
	    LEFT OUTER JOIN PLNDSTAY.dbo.CONTENTS_PHOTO d WITH(NOLOCK) ON c.intPhotoID = d.intPhotoID
        WHERE c.intAID = ${intAID}
        ORDER BY intStep ASC;
    </select>

    <select id="getStockList" resultType="stockDto">
        EXEC PLNDSTAY.dbo.spOMK_STOCK_LIST ${intAID}, ${intOmkIdx}, #{strDate}
    </select>

    <select id="getMinPrice" resultType="int">
        EXEC PLNDSTAY.dbo.spOMK_STOCK_MIN_PRICE ${intAID}, #{strDate}
    </select>

    <select id="getCancelRuleList" parameterType="int" resultType="CancelRulesDto">
        SELECT
            strFlag
            , intDay
            , intPercent
        FROM PLNDSTAY.dbo.ACCOMM_CANCEL_RULES
        WHERE intAID = ${intAID}
    </select>

    <select id="getRmtpeInfo" resultType="RoomTypeDto">
        SELECT
            RM.intIdx
            , RM.intAID
            , RM.strRmtypeName
            , RM.strShortDesc
            , RM.strDescription
            , RM.intQuanStd
            , RM.intQuanMax
            , RM.strRefundYn
            , RM.moneyExtraA AS intExtraA
            , RM.moneyExtraC AS intExtraC
            , RM.strCpItemCode
            , RM.strCprateCode
            , AO.strPdtCode
            , STUFF((
                SELECT '|'+ CP.strFilePath + CP.strFileName
                FROM PLNDSTAY.dbo.RM_PHOTO RP WITH(NOLOCK)
                LEFT OUTER JOIN PLNDSTAY.dbo.CONTENTS_PHOTO CP WITH(NOLOCK) ON RP.intPhotoID = CP.intPhotoID
                WHERE RP.intRmIdx = RM.intIdx
                ORDER BY RP.intStep
                FOR XML PATH('')
              ),1,1,'') AS strRmPhotos	-- 객실 이미지
        FROM PLNDSTAY.dbo.RMTYPE RM WITH(NOLOCK)
--         INNER JOIN PLNDSTAY.dbo.RM_OMK_USAGE RO WITH(NOLOCK) ON RM.intIdx = RO.intRmIdx
        INNER JOIN PLNDSTAY.dbo.ACCOMM_OMK AO WITH(NOLOCK) ON AO.intAID = RM.intAID
        WHERE RM.intIdx = ${intRmIdx}
--           AND RO.intOMKIdx = ${intOmkIdx}
--           AND RO.strUsageYn = 'Y'
          AND AO.intOMKIdx = ${intOmkIdx}
    </select>


</mapper>
