<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.gpension.mapper.BookingMapper">
    <select id="getBookingInfoFromBookingIdx" resultType="HashMap">
         SELECT RS.strDeleteYn
              , RS.strStatusCode
              , RS.strRsvSite
              , RS.strRsvCode
              , RS.intAID
              , RS.intRmIdx
              , RS.intRmCnt
              , RS.intQuantityA
              , RS.intQuantityC
              , RS.intQuantityB
              , RS.dateCheckIn
              , RS.dateCheckOut
              , RS.strRmtypeName
              , RS.strRmOptName
              , RS.intUID
              , RS.strOrdName
              , RS.strOrdPhone
              , RS.strOrdEmail
              , RS.strRcvName
              , RS.strRcvPhone
              , RS.strRcvEmail
              , RS.strRsvRmNum
              , RS.strRemark
              , RS.dateCreated
              , R.strRmtypeID
            , A.strPropertyID as pensionId
         FROM PLNDSTAY.dbo.RSV_STAY RS
         INNER JOIN PLNDSTAY.dbo.ACCOMM A with(nolock) on A.intAID = RS.intAID
        INNER JOIN PLNDSTAY.dbo.RMTYPE R with(nolock) on R.intIdx = RS.intRmIdx
         WHERE RS.intRsvID = #{intRsvID}
    </select>

    <select id="getMaxpeopleByroomId" resultType="int">
        SELECT intQuanMax
        FROM PLNDSTAY.dbo.RMTYPE
        WHERE intAID = #{pensionID} AND strRmtypeID = #{roomID}
    </select>

    <update id="updateBooking">
        UPDATE PLNDSTAY.dbo.RSV_STAY SET
            strRmNum = #{orderID}
        WHERE intRsvID = #{intRsvID}
    </update>

    <select id="getMoneyByintRsvID" resultType="string">
        SELECT moneyCost FROM PLNDSTAY.dbo.STOCK_REAL WHERE intRmIdx = ${intRmIdx} AND dateSales = ${dateCheckIn}
    </select>
</mapper>