<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.openMarket.ssg.mapper.SsgMapper">

    <select id="getBrnadId" resultType="string">
        EXEC PLNDSTAY.dbo.spSSG_CATEGORY_CODE ${intAID}
    </select>

    <select id="getItemId" resultType="string">
        SELECT strPdtCode FROM accomm_omk WITH(NOLOCK)
        WHERE intAID = ${intAID}
          AND strUsageYn = 'Y'
          AND intOMKIdx = 7
    </select>

    <select id="getMaxSsgSeq" resultType="int">
        SELECT MAX(SR.intSsgSeq) FROM STOCK_REAL SR WITH(NOLOCK)
        INNER JOIN STOCK_OMK SO ON SR.intIdx = SO.intStockIdx
        WHERE SR.intAID = ${intAID}
          AND SO.intOMKIdx = 7
    </select>

    <select id="getCntTempStock" resultType="int">
        SELECT COUNT(SR.intIdx) FROM STOCK_REAL SR WITH(NOLOCK)
        INNER JOIN STOCK_OMK SO ON SR.intIdx = SO.intStockIdx
        WHERE SR.intAID = ${intAID}
        AND SO.intOMKIdx = 7
        AND SR.dateSales &lt; dateadd(day,100,#{strDate})
        AND SR.intSsgSeq IS NULL OR SR.intSsgSeq = ''
    </select>


</mapper>
