<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.openMarket.ssg.mapper.SsgMapper">

    <select id="getBrnadId" resultType="string">
        EXEC PLNDSTAY.dbo.spSSG_CATEGORY_CODE ${intAID}
    </select>

    <select id="getItemId" resultType="string">
        SELECT strPdtCode FROM accomm_omk WITH(NOLOCK)
        WHERE intAID = ${intAID}
          AND strUsageYn = 'Y'
          AND intOMKIdx = 7
    </select>

    <select id="getMaxSsgSeq" resultType="int">
        SELECT MAX(SR.intSsgSeq) FROM STOCK_REAL SR WITH(NOLOCK)
        INNER JOIN STOCK_OMK SO ON SR.intIdx = SO.intStockIdx
        WHERE SR.intAID = ${intAID}
          AND SO.intOMKIdx = 7
    </select>

    <select id="getCntTempStock" resultType="int">
        SELECT COUNT(SR.intIdx) FROM STOCK_REAL SR WITH(NOLOCK)
        INNER JOIN STOCK_OMK SO ON SR.intIdx = SO.intStockIdx
        WHERE SR.intAID = ${intAID}
        AND SO.intOMKIdx = 7
        AND SR.dateSales &lt; dateadd(day,100,#{strDate})
        AND SR.intSsgSeq IS NULL OR SR.intSsgSeq = ''
    </select>

    <select id="getIntAID" resultType="int">
        SELECT intAID FROM ACCOMM_OMK WITH(NOLOCK) WHERE intOMKIdx = 7 AND strPdtCode = #{strPdtCode}
    </select>

    <select id="getIntRmIdx" resultType="int">
        SELECT intRmIdx FROM STOCK_REAL WITH(NOLOCK) WHERE	intIdx = ${intStockIdx}
    </select>

    <select id="getCheckIn" resultType="string">
        --SELECT dateSales FROM STOCK_REAL WITH(NOLOCK) WHERE intIdx = ${intStockIdx}
        select CONVERT(CHAR(10), good_date, 23) from andrew.dbo.goods with(nolock) where good_seq = ${intStockIdx}
    </select>

    <select id="getRmIdxNChechIn" resultType="map">
        SELECT intRmIdx, dateSales FROM STOCK_REAL WITH(NOLOCK) WHERE	intIdx = ${intStockIdx}
    </select>

    <select id="createBooking" resultType="String">
        EXEC spSSG_ELAND_RSV_REGIST ${intSeller}, #{strRsvCode}, ${intAID}, ${intRmIdx}, ${intRmCnt}, #{strCheckIn}, #{strCheckOut}, #{strRmtypeName}, #{strOrdName}, #{strOrdPhone}, #{strRcvName}, #{strRcvPhone}, '211.242.129.51', #{strRemark}, #{strOrderCode}, ${intOrderSeq}, '0', #{strProductID}, '', ''
    </select>

    <select id="getShppNoInfo" resultType="map">
        SELECT RO.strOrderCode, RO.intOrderSeq, RS.intRmCnt
        FROM RSV_STAY_OMK RO WITH(NOLOCK)
        INNER JOIN RSV_STAY RS WITH(NOLOCK) ON RO.intRsvID = RS.intRsvID
        WHERE RO.intRsvID = ${intRsvID}
    </select>

    <select id="getTestStockList" resultType="StockDto">
        SELECT
            SR.intIdx
             , SR.dateSales
             , RM.strRmtypeName
             , RM.strCpItemCode
             , RM.strCpRateCode
             , SR.intRmIdx
             , SR.moneyCost
             , SR.moneySales
             , SR.intStock
             , SR.intSsgSeq
             , SR.intGsshopSeq
             , SR.intElandSeq
             , SR.intElevenSeq
             , SRN.intStock AS intNextStock
        FROM STOCK_REAL SR
                 CROSS JOIN (
            SELECT TOP 1 *
            FROM sys.objects  -- 더미 테이블
        ) n
                 INNER JOIN RMTYPE RM WITH(NOLOCK) ON SR.intRmIdx = RM.intIdx
            LEFT OUTER JOIN STOCK_REAL SRN WITH(NOLOCK) ON SRN.intRmIdx = SR.intRmIdx AND SRN.dateSales = dateadd(day,1, SR.dateSales)
        WHERE SR.intAID = 101471
          AND SR.intSsgSeq IS NULL
    </select>


</mapper>
