<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.hotelStory.mapper.HotelStoryMapper">

    <select id="insertProperty" resultType="string">
        exec PLNDSTAY.dbo.spHS_ACCOMM_REGIST #{strPropertyId}, #{strLocation}, #{strCity}, #{strPropertyName}, #{strLatitude}, #{strLongitude}, #{strStarRating}, #{strNumRooms}, #{strCheckInTime}, #{strCheckOutTime}, #{strPhone}, #{strAddress}
        , #{strHomePageUrl}, #{strPropertyDescription}, #{strTrafficInformation}, #{strRsvGuide}, #{imgData}, #{cancelData}, #{roomTypeData}, #{addData}, ''
    </select>

    <select id="getAcmRmIdx" resultType="map">
        SELECT RM.intAID, RM.intIdx FROM RMTYPE RM WITH(NOLOCK)
        INNER JOIN ACCOMM ACM WITH(NOLOCK) ON RM.intAID = ACM.intAID
        WHERE ACM.strPropertyID = #{strPropertyId} AND RM.strRmtypeID = #{strRoomTypeId} AND RM.strRateplanID = #{strRatePlanId}
    </select>

    <select id="insertStock" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_STOCK_TEMP_REGIST ${intAID}, ${intRmIdx}, '', #{strStockDatas}, ''
    </select>

    <select id="getbooking" resultType="com.example.stay.accommodation.hotelStory.dto.BookingDto">
        select tc.accomm_id as strPropertyId, rp.strRatePlanName, rp.strRoomTypeId, rp.strRatePlanId,
               tb.intBookingID, tb.checkInDate, tb.checkOutDate, tb.intPaymentPrice, tb.intPersonCount,
               tb.strOrdName, tb.strOrdemail, tb.strOrdPhone, tb.strRecvName, tb.strRecvemail, tb.strRecvPhone, tb.introomCount, tb.strSpBookingId
        from condo24.test_Booking tb with(nolock)
        inner join condo24.test_condo tc with(nolock) on tb.intCondoID = tc.intCondoID
            inner join condo24.test_rate_plan rp with(nolock) on tb.intrateID = rp.intRateID
        where tb.intBookingID = ${intBookingID}
    </select>

    <select id="updateBooking" resultType="String">
        EXEC spGW_BOOKING_UPDATE_PROCESS ${intBookingID}, #{strBookingProcess}, #{strSpBookingId}, ${intRoomCount}, ''
    </select>

    <select id="insertRefund" resultType="String">
        EXEC spGW_REFUND_POLICY_REGIST ${intBookingID}, #{strRefundData}, ''
    </select>

</mapper>