<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.kumho.mapper.KumhoMapper">
    <select id="updateRsvStay" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_UPDATE_PROCESS ${intRsvID}, #{strStatusCode}, #{strRsvRmNum}, #{strPenaltyDatas}, ''
    </select>

    <select id="getRmtypeInfo" parameterType="int" resultType="Map">
        SELECT
            R.strRmtypeID
            , R.intAID
            , ALI.strLocalCode
        FROM PLNDSTAY.dbo.RMTYPE R WITH(NOLOCK)
		INNER JOIN PLNDSTAY.dbo.ACCOMM_ACM_LOCAL AAL WITH(NOLOCK) ON R.intAID = AAL.intAID
            INNER JOIN PLNDSTAY.dbo.ACM_LOCAL_INFO ALI WITH(NOLOCK) ON AAL.intALIIdx = ALI.intIdx
        WHERE R.intIdx = 1417
            AND ALI.strRmCode = R.strRmtypeID
    </select>

    <select id="getReservation" resultType="RsvStayDto">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_INFO ${intRsvID}
    </select>

    <select id="getBreakfastYn" parameterType="int" resultType="int">
        SELECT COUNT(intRmIdx)
        FROM PLNDSTAY.dbo.RM_ICON
        WHERE intRmIdx = ${intRmIdx}
            AND strCateCode = '01'
    </select>

    <select id="getPrice" resultType="map">
        SELECT
            CONVERT(int,moneyCost) AS moneyCost
             , CONVERT(int,moneySales) AS moneySales
        FROM PLNDSTAY.dbo.STOCK_REAL WITH(NOLOCK)
        WHERE intAID = ${intAID}
          AND intRmIdx = ${intRmIdx}
          AND dateSales = #{dateSales}
    </select>
    
</mapper>