<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.kumho.mapper.KumhoMapper">
    <select id="updateRsvStay" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_UPDATE_PROCESS ${intRsvID}, #{strStatusCode}, #{strRsvRmNum}, ''
    </select>

    <update id="updateBookingStatus" parameterType="String">
        UPDATE test_Booking SET strBookingProcess = #{strBookingProcess}
        WHERE intBookingID = ${intBookingID}
    </update>

    <select id="updateGoods" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_STOCK_TEMP_REGIST #{intAID}, #{intRmIdx}, '', #{strStockDatas}, ''
    </select>

    <select id="getRmtypeIDNIntAID" parameterType="int" resultType="Map">
        SELECT strRmtypeID, intAID
        FROM PLNDSTAY.dbo.RMTYPE
        WHERE intIdx = ${intRmIdx}
    </select>

    <select id="getReservation" resultType="RsvStayDto">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_INFO ${intRsvID}
    </select>

    <select id="getIntStep" parameterType="int" resultType="int">
        SELECT intStep
        FROM RMTYPE
        WHERE intIdx = ${intRmIdx}
          AND intDepth = 2
    </select>

    <select id="getBreakfastYn" parameterType="int" resultType="int">
        SELECT COUNT(intRmIdx)
        FROM RM_ICON
        WHERE intRmIdx = ${intRmIdx}
            AND strCateCode = '01'
    </select>
</mapper>