<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.kumho.mapper.KumhoMapper">
    <select id="updateRsvStay" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_UPDATE_PROCESS ${intRsvID}, #{strStatusCode}, #{strRsvRmNum}, #{strPenaltyDatas}, ''
    </select>

    <select id="getMappingInfo" resultType="map">
        SELECT RPM.intAID, RPM.intRmIdx, RPM.strRmCode, RPM.strMapCode, ALI.strLocalCode, MIN(RPM.dateMapping) AS minDate, MAX(RPM.dateMapping) AS maxDate
        FROM PLNDSTAY.dbo.RM_PACKAGE_MAPPING RPM WITH(NOLOCK)
            LEFT OUTER JOIN PLNDSTAY.dbo.ACM_PACKAGE_INFO API WITH(NOLOCK) ON RPM.strMapCode = API.strPkgCode
            LEFT OUTER JOIN PLNDSTAY.dbo.ACCOMM_ACM_LOCAL AAL WITH(NOLOCK) ON AAL.intAID = RPM.intAID
            LEFT OUTER JOIN PLNDSTAY.dbo.ACM_LOCAL_INFO ALI WITH(NOLOCK) ON ALI.intIdx = AAL.intALIIdx AND ALI.strDeleteYn = 'N'
        WHERE RPM.strDeleteYn = 'N'
          AND RPM.intAID IN(SELECT intAID FROM ACCOMM WITH(NOLOCK) WHERE strCateCode = '04')
          AND RPM.dateMapping BETWEEN '2023-11-01' AND '2023-11-30'
        GROUP BY RPM.intAID, RPM.intRmIdx, RPM.strRmCode, RPM.strMapCode, ALI.strLocalCode

    </select>

    <select id="getReservation" resultType="RsvStayDto">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_INFO ${intRsvID}
    </select>

    <select id="getBreakfastYn" parameterType="int" resultType="int">
        SELECT COUNT(intRmIdx)
        FROM PLNDSTAY.dbo.RM_ICON
        WHERE intRmIdx = ${intRmIdx}
            AND strCateCode = '01'
    </select>

    <select id="getPrice" resultType="map">
        SELECT
            CONVERT(int,moneyCost) AS moneyCost
             , CONVERT(int,moneySales) AS moneySales
        FROM PLNDSTAY.dbo.STOCK_REAL WITH(NOLOCK)
        WHERE intAID = ${intAID}
          AND intRmIdx = ${intRmIdx}
          AND dateSales = #{dateSales}
    </select>
    
</mapper>