<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.common.mapper.CommonAcmMapper">

    <select id="getPeakCount" parameterType="String" resultType="int">
        SELECT
            COUNT(CASE WHEN strRateName NOT LIKE '%비수기%'THEN 1 END)
        FROM PLNDSTAY.dbo.OMK_RATE WITH(NOLOCK)
        WHERE dateRate BETWEEN CONVERT(DATE, #{strCheckIn}) AND DATEADD(DAY, -1, CONVERT(DATE, #{strCheckOut}))
    </select>

    <select id="getCancelRules" resultType="CancelRulesDto">
        SELECT
            intDay
            , intPercent
        FROM PLNDSTAY.dbo.ACCOMM_CANCEL_RULES
        WHERE intAID = ${intAID}
          AND strFlag = #{strFlag}
        ORDER BY intIdx ASC
    </select>

    <select id="getBasicCancelRules" resultType="CancelRulesDto">
        SELECT
            intDay
             , intPercent
        FROM PLNDSTAY.dbo.ACCOMM_CANCEL_RULES
        WHERE intAID = 0
          AND strFlag = #{strFlag}
        ORDER BY intIdx ASC
    </select>

    <select id="getOmkSales" resultType="double">
        EXEC PLNDSTAY.dbo.spGW_OMKSALES_INFO ${intAID}, ${intRmIdx}, ${intOMKIdx}, #{strDate}
    </select>

    <select id="getStrPkgCodeList" resultType="map">
        SELECT strMapCode, dateMapping
        FROM PLNDSTAY.dbo.RM_PACKAGE_MAPPING WITH(NOLOCK)
        WHERE intRmIdx = ${intRmIdx}
          AND strDeleteYn = 'N'
          AND dateMapping BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="updateGoods" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_STOCK_REAL_REGIST ${intAID}, ${intRmIdx}, #{strStockDatas}, ''
    </select>

    <select id="insertRsvStayHistory" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_HISTORY_REGIST ${intRsvID}, #{strFlag}, #{strContent}, #{strProcedure}, #{strIP}, ${intSID}, ''
    </select>

    <select id="getStrRsvRmNum" parameterType="int" resultType="String">
        SELECT strRsvRmNum
        FROM PLNDSTAY.dbo.RSV_STAY_RM_NUM
        WHERE intRsvID = ${intRsvID}
        GROUP BY strRsvRmNum
    </select>

</mapper>