<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.hotelStory.mapper.HotelStoryMapper">

    <select id="insertAccomm" resultType="int">
        exec dbo.spGW_CONDO_REGIST_SUPPLIER 0, #{strPropertyId}, 'HS', #{strPropertyName}, '', #{strAddress}, '', #{strPhone}, '', #{strNumRooms}, '', '', #{strHomePageUrl}, #{strCheckInTime}, #{strCheckOutTime}
                                , 'Y', #{strLongitude}, #{strLatitude}, '', '', '', #{strPropertyDescription}, #{strTrafficInformation}, #{strRoomInformation}, ''
    </select>

</mapper>