<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.wellihilli.mapper.WellihilliMapper">
    <select id="updateRmtype" resultType="String">
        EXEC PLNDSTAY.dbo.spWHP_RMTYPE_UPDATE #{strRoomDatas}, ''
    </select>

    <select id="getStrRmtypeID" parameterType="int" resultType="String">
        SELECT strRmtypeID
        FROM PLNDSTAY.dbo.RMTYPE
        WHERE intIdx = ${intRmIdx}
    </select>

    <select id="updateGoods" resultType="String">
        EXEC PLNDSTAY.dbo.spONDAnWHP_STOCK_TEMP_REGIST 'WHP', #{strStockDatas}, ''
    </select>

    <select id="getStrPkgCode" parameterType="int" resultType="String">
        SELECT
            AP.strPkgCode
        FROM PLNDSTAY.dbo.ACM_PACKAGE_INFO AP WITH(NOLOCK)
			INNER JOIN PLNDSTAY.dbo.ACM_PACKAGE_RM_DATA APR WITH(NOLOCK) ON AP.intIdx = APR.intAPIIdx
            INNER JOIN PLNDSTAY.dbo.RMTYPE R WITH(NOLOCK) ON R.strRmtypeID = APR.strRmCode
        WHERE APR.strRmCode = R.strRmtypeID
          AND R.intIdx = ${intRmIdx}
    </select>

    <select id="getReservation" resultType="RsvStayDto">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_INFO ${intRsvID}
    </select>

    <select id="getStrRsvCode" parameterType="int" resultType="String">
        SELECT strRsvCode
        FROM PLNDSTAY.dbo.RSV_STAY WITH(NOLOCK)
        WHERE intRsvID = ${intRsvID}
    </select>

    <select id="updateRsvStay" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_UPDATE_PROCESS ${intRsvID}, #{strStatusCode}, #{strRsvRmNum}, '', ''
    </select>
</mapper>