<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.onda.mapper.AccomodationMapper">
    <select id="selectCondoByConId">
        SELECT
            con_name AS strAcmName
            , con_display AS strConDisplay
        FROM condo
        WHERE con_id = ${con_id}
--         con_name = ${con_name}
    </select>

    <select id="selectCode" resultType="String">
        USE HAPPYDAYS

        SELECT
            strCode
        FROM HAPPYDAYS.dbo.CODE_SYSTEM
        WHERE
            strCateCode = 'CON_FLAG'
            AND strUsageYn = 'Y'
            AND strName = #{strName}
    </select>

    <insert id="getAccommNInsert">
        EXEC ?? ${}, ${}
    </insert>

    <insert id="insertAccommPhotoContents" parameterType="ContentsPhotoDto">
        INSERT INTO test_CONTENTS_PHOTO(
            strSubject, strFilePath, strFileName, intCreatedSID, dateCreated, intModifiedSID, dateModified
        ) VALUES(
            #{strSubject}, #{strFilePath}, #{strFileName}, ${intCreatedSID}, GETDATE(), ${intModifiedSID}, GETDATE()
        )
    </insert>

    <insert id="insertAccommPhoto" parameterType="ContentsPhotoDto">
        INSERT INTO test_CONDO_PHOTO
        VALUES(
            ${}, ${}, ${}
        )
    </insert>

</mapper>