<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.onda.mapper.AccomodationMapper">

<!--    <select id="selectCode" resultType="String">-->
<!--        USE HAPPYDAYS-->

<!--        SELECT-->
<!--            strCode-->
<!--        FROM HAPPYDAYS.dbo.CODE_SYSTEM-->
<!--        WHERE-->
<!--            strCateCode = 'CON_FLAG'-->
<!--            AND strUsageYn = 'Y'-->
<!--            AND strName = #{strName}-->
<!--    </select>-->



    <select id="insertAccommTotal" parameterType="String" resultType="String">
        EXEC spGW_CONDO_REGIST_TOTAL #{strAccommId}, #{API_FLAG}, #{strCondoName}, #{strConZip}
        , #{strConAddr1}, #{strConAddr2}, #{strConTel}, #{strConFax}, #{strConGekNum}, #{strConFlag}, #{strLocation}, #{strHomepage}
        , #{strTimeIn}, #{strTimeOut}, #{strUseYN}, #{strMapX}, #{strMapY}, #{strMobileWarning}, #{strCity}, #{strNation}
        , #{strConDesc}, #{strConAround}, #{strConSookbak}, #{strTagName}, #{strImgData}, #{strPenaltyData}, #{strRoomNRatePlanDatas}, ''
    </select>

    <select id="updateAccomm" parameterType="String" resultType="String">
        EXEC spGW_CONDO_UPDATE_SUPPLIER #{strAccommId}, #{API_FLAG}, #{strCondoName}, #{strConZip}
        , #{strConAddr1}, #{strConAddr2}, #{strConTel}, #{strConFax}, #{strConGekNum}, #{strConFlag}, #{strLocation}, #{strHomepage}
        , #{strTimeIn}, #{strTimeOut}, #{strUseYN}, #{strMapX}, #{strMapY}, #{strMobileWarning}, #{strCity}, #{strNation}
        , #{strConDesc}, #{strConAround}, #{strConSookbak}, #{strTagName}, #{strImgData}, #{strPenaltyData}, ''
    </select>

    <select id="updateRoomNRatePlan" parameterType="String" resultType="String">
        EXEC spGW_ROOMTYPE_UPDATE_SUPPLIER #{propertyId}, #{API_FLAG}, #{strRoomNRatePlanDatas}, ''
    </select>

    <select id="updateGoods" parameterType="StockDto" resultType="String">
        EXEC spGW_GOODS_REGIST_SUPPLIER ${strRatePlanId}, ${intStock}, #{strCheckInDate}, ${intBasicPrice}, ${intSalePrice}, ${intMinStay}, ${intMaxStay}, ''
    </select>

    <select id="getRoomAdminCnt" parameterType="String" resultType="int">
        SELECT ISNULL(MAX(admin_count), 1)
        FROM test_room_type RT WITH(NOLOCK)
            JOIN test_condo C WITH(NOLOCK) ON RT.intCondoID = C.intCondoID
        WHERE C.accomm_id = #{propertyId}
    </select>

    <select id="getCondoIDByAccommId" parameterType="String">
        SELECT intCondoID
        FROM condo24.test_condo WITH(NOLOCK)
        WHERE accomm_id = ${propertyId}
            AND API_FLAG = "ONDA"
    </select>

    <select id="updateStatus" parameterType="String" resultType="String">
        EXEC spGW_CONDO_STATUS_UPDATE #{target}, #{status}, #{propertyId}, #{roomTypeId}, #{ratePlanId}, ''
    </select>

</mapper>