<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.onda.mapper.AccommMapper">

    <select id="insertAccommTotal" parameterType="String" resultType="String">
        EXEC spONDA_ACCOMM_REGIST #{strPropertyID}, #{strDeleteYn}, #{strViewYn}, #{strType}, #{strDistrict1}, #{strDistrict2},
            #{strSubject}, #{strLat}, #{strLon}, #{strCheckIn}, #{strCheckOut}, #{strPhone}, #{strFax}, #{strEmail},
            #{strZipCode}, #{strAddr1},#{strAddr2}, #{strDescription}, #{strRsvGuide}, #{strAcmNotice}, #{strImgDatas},
            #{strPenaltyDatas},  #{strKeyWordDatas}, #{strAttractionDatas}, #{strFacilityDatas}, #{strRmtypeDatas}, ''
    </select>

    <select id="updateRmtype" parameterType="String" resultType="String">
        EXEC spONDA_RMTYPE_UPDATE #{strPropertyID}, #{strType}, #{strRmtypeDatas}, ''
    </select>

    <select id="updateGoods" parameterType="StockDto" resultType="String">
        EXEC spGW_STOCK_TEMP_REGIST ${intAID}, ${intRmIdx}, '', #{strStockDatas}, ''
    </select>

    <select id="webhookUpdateGoods" parameterType="StockDto" resultType="String">
        EXEC spONDA_STOCK_TEMP_REGIST #{strStockDatas}, ''
    </select>

    <select id="getPropertyIDNRmtypeID" parameterType="String" resultType="Map">
        SELECT
            A.strPropertyID,
            R.strRmtypeID
        FROM ACCOMM A WITH(NOLOCK)
        INNER JOIN RMTYPE R WITH(NOLOCK) ON R.intAID = A.intAID
        WHERE R.strRateplanID = #{strRateplanID}
    </select>

    <select id="getStrRateplanIDNIntAID" parameterType="int" resultType="Map">
        SELECT
            strRateplanID,
            intAID
        FROM RMTYPE
        WHERE intIdx = ${intRmIdx}
    </select>


<!--    <select id="getRoomAdminCnt" parameterType="String" resultType="int">-->
<!--        SELECT ISNULL(MAX(admin_count), 1)-->
<!--        FROM test_room_type RT WITH(NOLOCK)-->
<!--            JOIN test_condo C WITH(NOLOCK) ON RT.intCondoID = C.intCondoID-->
<!--        WHERE C.accomm_id = #{propertyId}-->
<!--    </select>-->

<!--    <select id="getAIDByStrPropertyID" parameterType="String" resultType="int">-->
<!--        SELECT intAID-->
<!--        FROM ACCOMM WITH(NOLOCK)-->
<!--        WHERE strPropertyID = ${strPropertyID}-->
<!--            AND strType = "OND"-->
<!--    </select>-->

    <select id="updateStatus" parameterType="String" resultType="String">
        EXEC spONDA_ACCOMM_STATUS_UPDATE #{target}, #{strDeleteYn}, #{strViewYn}, #{propertyId}, #{roomTypeId}, #{ratePlanId}, ''
    </select>

    <select id="getDistrictCode" parameterType="String" resultType="Map">
        SELECT
            B.strCode AS strDistrict1,
            A.strCode AS strDistrict2
        FROM CODE_DISTRICT A WITH(NOLOCK)
        LEFT JOIN dbo.CODE_DISTRICT B WITH(NOLOCK) ON LEFT(A.strCode,2) = B.strCode
        WHERE A.strName = #{strCity} AND A.intDepth = 2
            AND B.strName LIKE #{strRegion} + '%' AND B.intDepth = 1
            AND A.strDeleteYn = 'N'
    </select>


    <select id="getStrCodeByStrName" parameterType="String" resultType="String">
        SELECT strCode
        FROM CODE_SYSTEM WITH(NOLOCK)
        WHERE
            strCateCode = #{strCateCode}
            AND strName = #{strName}
    </select>
</mapper>