<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.onda.mapper.BookingMapper">
    <select id="getBookingByIntBookingID" resultType="BookingDto">
        SELECT
            B.intCondoID,
            B.intRoomID,
            B.intRateID,
            C.accomm_id AS accommId,
            RT.room_type_id AS strRoomTypeId,
            convert(varchar(10), B.checkInDate, 120) AS checkInDate,
            convert(varchar(10), B.checkOutDate, 120) AS checkOutDate,
            RP.strRatePlanId,
            ISNULL(B.intPersonCount, RT.standpeopleCnt) AS intPersonCount,
            B.strRecvName,
            B.strRecvPhone,
            B.strRecvEmail,
            B.strOrdName,
            B.strOrdEmail,
            B.strOrdPhone,
            B.intRoomCount,
            B.strBookingProcess,
            (SELECT SUM(tg.intSalePrice)
             FROM test_goods tg WITH(NOLOCK)
             JOIN test_booking_goods bg ON tg.intGoodsID = bg.intGoodsID
             WHERE bg.intBookingID = ${intBookingID}) AS intTotalSalePrice,
            B.strSpBookingId
        FROM test_Booking B WITH(NOLOCK)
            LEFT JOIN test_condo C WITH(NOLOCK) ON B.intCondoID = C.intCondoID
            LEFT JOIN test_room_type RT WITH(NOLOCK) ON B.intRoomID = RT.intRoomID
            LEFT JOIN test_rate_plan RP WITH(NOLOCK) ON B.intRateID = RP.intRateID
        WHERE B.intBookingID = ${intBookingID}
    </select>

    <select id="updateBooking" resultType="String">
        EXEC spGW_BOOKING_UPDATE_SUPPLIER ${intBookingID}, ${intCondoID}, ${intRoomID}, ${intRateID}, #{strSpBookingId},
            #{strRefundPolicies}, ${stayDays}, ''
    </select>

    <update id="updateBookingStatus" parameterType="String">
        UPDATE test_Booking SET strBookingProcess = #{strBookingProcess}
        WHERE intBookingID = ${intBookingID}
    </update>

</mapper>