<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.onda.mapper.OndaMapper">

    <select id="insertAccommTotal" parameterType="String" resultType="String">
        EXEC PLNDSTAY.dbo.spONDA_ACCOMM_REGIST #{strPropertyID}, #{strDeleteYn}, #{strViewYn}, #{strType}, #{strDistrict1}, #{strDistrict2},
        #{strSubject}, #{strLat}, #{strLon}, #{strCheckIn}, #{strCheckOut}, #{strPhone}, #{strFax}, #{strEmail},
        #{strZipCode}, #{strAddr1},#{strAddr2}, #{strDescription}, #{strRsvGuide}, #{strAcmNotice}, #{strImgDatas},
        #{strPenaltyDatas},  #{strKeyWordDatas}, #{strAttractionDatas}, #{strFacilityDatas}, #{strRmtypeDatas}, ''
    </select>

    <select id="updateRmtype" parameterType="String" resultType="String">
        EXEC PLNDSTAY.dbo.spONDA_RMTYPE_UPDATE #{strPropertyID}, #{strRmtypeDatas}, ''
    </select>

    <select id="updateGoods" parameterType="StockDto" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_STOCK_TEMP_REGIST ${intAID}, ${intRmIdx}, '', #{strStockDatas}, ''
    </select>

    <select id="webhookUpdateGoods" parameterType="StockDto" resultType="String">
        EXEC PLNDSTAY.dbo.spONDAnWHP_STOCK_TEMP_REGIST 'OND', #{strStockDatas}, ''
    </select>

    <select id="getPropertyIDNRmtypeID" parameterType="String" resultType="Map">
        SELECT
            A.strPropertyID,
            R.strRmtypeID
        FROM PLNDSTAY.dbo.ACCOMM A WITH(NOLOCK)
        INNER JOIN PLNDSTAY.dbo.RMTYPE R WITH(NOLOCK) ON R.intAID = A.intAID
        WHERE R.strRateplanID = #{strRateplanID}
    </select>

    <select id="getStrRateplanIDNIntAID" parameterType="int" resultType="Map">
        SELECT
            strRateplanID,
            intAID
        FROM PLNDSTAY.dbo.RMTYPE
        WHERE intIdx = ${intRmIdx}
    </select>

    <select id="updateStatus" parameterType="String" resultType="String">
        EXEC PLNDSTAY.dbo.spONDA_ACCOMM_STATUS_UPDATE #{target}, #{strDeleteYn}, #{strViewYn}, #{propertyId}, #{roomTypeId}, #{ratePlanId}, ''
    </select>

    <select id="getDistrictCode" parameterType="String" resultType="Map">
        SELECT
            B.strCode AS strDistrict1,
            A.strCode AS strDistrict2
        FROM PLNDSTAY.dbo.CODE_DISTRICT A WITH(NOLOCK)
        LEFT JOIN PLNDSTAY.dbo.CODE_DISTRICT B WITH(NOLOCK) ON LEFT(A.strCode,2) = B.strCode
        WHERE A.strName = #{strCity} AND A.intDepth = 2
          AND B.strName LIKE #{strRegion} + '%' AND B.intDepth = 1
          AND A.strDeleteYn = 'N'
    </select>

    <select id="getStrCodeByStrName" parameterType="String" resultType="String">
        SELECT strCode
        FROM PLNDSTAY.dbo.CODE_SYSTEM WITH(NOLOCK)
        WHERE
            strCateCode = #{strCateCode}
          AND strName = #{strName}
    </select>

    <select id="getPropertyID" parameterType="int" resultType="String">
        SELECT strPropertyID
        FROM PLNDSTAY.dbo.ACCOMM WITH(NOLOCK)
        WHERE intAID = ${intAID}
    </select>

    <select id="getReservation" resultType="RsvStayDto">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_INFO ${intRsvID}
    </select>

    <update id="updateStrStatusCode">
        UPDATE PLNDSTAY.dbo.RSV_STAY
        SET strStatusCode = #{strStatusCode}
        WHERE intRsvID = ${intRsvID}
    </update>

    <select id="updateRsvStay" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_UPDATE_PROCESS ${intRsvID}, #{strStatusCode}, #{strRsvRmNum}, ''
    </select>

</mapper>