<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.elysian_gangchon.mapper.ElysianMapper">
    <select id="updateGoods" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_STOCK_TEMP_REGIST ${intAID}, ${intRmIdx}, '', #{strStockDatas}, ''
    </select>

    <select id="getIntAID" parameterType="String" resultType="int">
        SELECT intAID
        FROM PLNDSTAY.dbo.RMTYPE
        WHERE intIdx = ${intRmIdx}
    </select>

    <select id="getStrPkgCodeList" resultType="String">
        SELECT strMapCode, dateMapping
        FROM PLNDSTAY.dbo.RM_PACKAGE_MAPPING WITH(NOLOCK)
        WHERE intRmIdx = ${intRmIdx}
          AND strDeleteYn = 'N'
          AND dateMapping BETWEEN #{startDate} AND #{endDate}
    </select>

    <select id="getReservation" resultType="RsvStayDto">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_INFO ${intRsvID}
    </select>

    <select id="updateRsvStay" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_UPDATE_PROCESS ${intRsvID}, #{strStatusCode}, #{strRsvRmNum}, #{strPenaltyDatas}, ''
    </select>

    <select id="getStrRsvRmNum" parameterType="int" resultType="String">
        SELECT DISTINCT(strRsvRmNum)
        FROM PLNDSTAY.dbo.RSV_STAY_RM_NUM
        WHERE intRsvID = ${intRsvID}
    </select>

    <select id="getTseq" resultType="int">
        SELECT COUNT(intRsvID)
        FROM PLNDSTAY.dbo.RSV_STAY R WITH(NOLOCK)
            INNER JOIN PLNDSTAY.dbo.ACCOMM A WITH(NOLOCK) ON A.intAID = R.intAID
        WHERE A.strCateCode = '49'
    </select>

    <select id="getPrice" resultType="map">
        SELECT
            CONVERT(int,moneyCost) AS moneyCost
            , CONVERT(int,moneySales) AS moneySales
        FROM PLNDSTAY.dbo.STOCK_REAL WITH(NOLOCK)
        WHERE intAID = ${intAID}
            AND intRmIdx = ${intRmIdx}
            AND dateSales = #{dateSales}
    </select>

</mapper>