<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.elysian_gangchon.mapper.ElysianMapper">
    <select id="updateGoods" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_STOCK_TEMP_REGIST ${intAID}, ${intRmIdx}, '', #{strStockDatas}, ''
    </select>

    <select id="getIntAID" parameterType="String" resultType="int">
        SELECT intAID
        FROM PLNDSTAY.dbo.RMTYPE
        WHERE intIdx = ${intRmIdx}
    </select>

    <select id="getStrPkgCode" parameterType="int" resultType="String">
        SELECT
            AP.strPkgCode
        FROM PLNDSTAY.dbo.ACM_PACKAGE_INFO AP WITH(NOLOCK)
			INNER JOIN PLNDSTAY.dbo.ACM_PACKAGE_RM_DATA APR WITH(NOLOCK) ON AP.intIdx = APR.intAPIIdx
            INNER JOIN PLNDSTAY.dbo.RMTYPE R WITH(NOLOCK) ON R.strRmtypeID = APR.strRmCode
        WHERE APR.strRmCode = R.strRmtypeID
          AND R.intIdx = ${intRmIdx}
    </select>

    <select id="getReservation" resultType="RsvStayDto">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_INFO ${intRsvID}
    </select>

    <select id="updateRsvStay" resultType="String">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_UPDATE_PROCESS ${intRsvID}, #{strStatusCode}, #{strRsvRmNum}, ''
    </select>

    <select id="getStrRsvRmNum" parameterType="int" resultType="String">
        SELECT strRsvRmNum
        FROM PLNDSTAY.dbo.RSV_STAY
        WHERE intRsvID = ${intRsvID}
    </select>

    <select id="getTseq" resultType="int">
        SELECT COUNT(intRsvID)
        FROM PLNDSTAY.dbo.RSV_STAY R WITH(NOLOCK)
            INNER JOIN PLNDSTAY.dbo.ACCOMM A WITH(NOLOCK) ON A.intAID = R.intAID
        WHERE A.strCateCode = '49'
    </select>

    <select id="getCancelRules">
        SELECT
            intDay
            , intPercent
        FROM PLNDSTAY.dbo.ACCOMM_CANCEL_RULES
        WHERE intAID = ${intAID}
            strFlag = #{strFlag}
        ORDER BY intIdx ASC

    </select>

    <select id="getCancelFlag" parameterType="String" resultType="String">
        SELECT
            strRateName
        FROM PLNDSTAY.dbo.OMK_RATE WITH(NOLOCK)
        WHERE dateRate BETWEEN CONVERT(DATE, #{strCheckIn}) AND DATEADD(DAY, -1, CONVERT(DATE, #{strCheckOut}))
    </select>
</mapper>