<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.openMarket.elevenST.mapper.ElevenStMapper">

    <select id="getAccomm" resultType="HashMap">
        SELECT A.intAID, A.strSubject, I.strDescription, I.strAddr1, I.strAddr2, I.strZipCode, I.strPhone, I.intRoomCnt, I.strCheckIn, I.strCheckOut, A.strType, I.intGrade, I.decLat, I.decLon
        FROM PLNDSTAY.dbo.ACCOMM A with(nolock)
        INNER JOIN ACCOMM_INFO I with(nolock) ON A.intAID = I.intAID
        WHERE A.intAID = #{accommID}
    </select>

    <select id="getUsgYn" resultType="string">
        SELECT strUsageYn
        FROM PLNDSTAY.dbo.ACCOMM_OMK
        WHERE intAID = #{intAID} AND intOMKIdx='1'
    </select>

    <update id="updateUsg">
        UPDATE PLNDSTAY.dbo.ACCOMM_OMK SET
            strUsageYn = #{usageYn}
        WHERE intAID = #{intAID} AND intOMKIdx='1'
    </update>

    <select id="insertAccomm" resultType="string">
        EXEC PLNDSTAY.dbo.spCM_ACCOMM_OMK_UPDATE ${intAID}, ${intOmkIdx}, #{intUsageYn}, #{strPdtSubject}, #{strPdtCode}, #{strDetailInfo}, ''
    </select>

    <select id="getIntAID" parameterType="string" resultType="string">
        SELECT intAID
        FROM PLNDSTAY.dbo.ACCOMM_OMK
        WHERE strPdtCode = #{prdNo}
    </select>

    <update id="updateSeq" >
        UPDATE [PLNDSTAY].[dbo].[STOCK_REAL] SET intElevenSeq = #{prdStockNo}
        WHERE intRmidx = (
        SELECT SR.intRmIdx
        FROM [PLNDSTAY].[dbo].[STOCK_REAL] SR
            LEFT OUTER JOIN RMTYPE R with(nolock) on R.intIdx = intRmIdx
            WHERE R.strRmtypeName = #{strRmtypeNm} )
        AND intAID = #{intAID} AND dateSales = #{strDate}
    </update>

    <select id="getMinPrice" resultType="int">
        EXEC spOMK_STOCK_MIN_PRICE #{intAID}, #{strDate}, '1'
    </select>

    <select id="updateElevenSeq" resultType="int">
        EXEC sp11ST_STOCK_NUMBERING ${intAID}, ${strDatas}, ''
    </select>

</mapper>
