<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.sono.mapper.BookingMapper">

    <select id="localInsert" resultType="String">
        EXEC PLNDSTAY.dbo.spCM_ACM_LOCAL_INFO_UPDATE '01', #{strDatas}, ''
    </select>

    <select id="getBookingInfoFromBookingIdx" resultType="HashMap">
        EXEC PLNDSTAY.dbo.spGW_RSV_STAY_INFO #{intRsvID}
    </select>

    <select id="insertRoom" parameterType="String" resultType="String">
        EXEC PLNDSTAY.dbo.spSONO_ACCOMM_REGIST #{strPackageDatas},  #{strRoomDatas}, #{strStockDatas}, #{strAccommDatas}, #{strType}, ''
    </select>

    <select id="getPackageCodeAndStoreCode" parameterType="String" resultType="hashmap">
        SELECT strPkgCode
             , strStoreCode
            , dateStart
            , dateEnd
        FROM PLNDSTAY.dbo.ACM_PACKAGE_INFO
        WHERE strFlag = '01' AND strUsageYn = 'Y'
    </select>

</mapper>