<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.roomio.mapper.RoomioMapper">

    <select id="insertAccomm" resultType="String">
        EXEC PLNDSTAY.dbo.spRMO_ACCOMM_REGIST #{strHotelId}, #{strHotelName}, #{strRoomDatas}, ''
    </select>

</mapper>