<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.stay.accommodation.roomio.mapper.RoomioMapper">

    <select id="insertAccomm" resultType="String">
        EXEC PLNDSTAY.dbo.spRMO_ACCOMM_REGIST #{strHotelId}, #{strHotelName}, #{strRoomDatas}, ''
    </select>

    <select id="getRsvInfo" resultType="rsvStayDto">
        exec PLNDSTAY.dbo.spGW_RSV_STAY_INFO ${intRsvID}
    </select>

    <select id="getHotelId" resultType="String">
        SELECT strPropertyID FROM dbo.ACCOMM WITH(NOLOCK) WHERE intAID = ${intAID}
    </select>
    
    <select id="getRoomId" resultType="String">
        SELECT strRmtypeID FROM dbo.RMTYPE WITH(NOLOCK) WHERE intIdx = ${intRmIdx}
    </select>

    <select id="insertStock" resultType="String">
        EXEC dbo.spRMO_STOCK_REGIST ${intAID}, ${intRmIdx}, #{strStockDatas}, ''
    </select>
</mapper>